#html , #body { 
	 height: 100% ;
}

.main-body, #main-frame, #body, #body-table{
	height: 99%;
	width: 100%;
	color: #000000;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc));
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B7C4C9), color-stop(37%,#EBEBEB), color-stop(100%,#c8d7dc));
}

* {
	font-family: "tahoma",tahoma !important;
	font-size: 12px !important;
	
}


#body-side-right{
	width: 150px;
	background: #f0eeee;
	border-left: 1px solid #afafb6;
	text-shadow: 0 1px 1px white;
	vertical-align: top;
	font-family: "tahoma",tahoma !important;
    font-size: 12px !important;

/* /* 	background: rgb(228,240,253); Old browsers
IE9 SVG, needs conditional override of 'filter' to 'none'
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2U0ZjBmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2M5ZGFlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q0ZTFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2M5ZGFlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGYwZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(228,240,253,1) 1%, rgba(201,218,238,1) 20%, rgba(212,225,241,1) 50%, rgba(201,218,238,1) 80%, rgba(228,240,253,1) 100%); FF3.6+
background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(228,240,253,1)), color-stop(20%,rgba(201,218,238,1)), color-stop(50%,rgba(212,225,241,1)), color-stop(80%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1))); Chrome,Safari4+
background: -webkit-linear-gradient(left,  rgba(228,240,253,1) 1%,rgba(201,218,238,1) 20%,rgba(212,225,241,1) 50%,rgba(201,218,238,1) 80%,rgba(228,240,253,1) 100%); Chrome10+,Safari5.1+
background: -o-linear-gradient(left,  rgba(228,240,253,1) 1%,rgba(201,218,238,1) 20%,rgba(212,225,241,1) 50%,rgba(201,218,238,1) 80%,rgba(228,240,253,1) 100%); Opera 11.10+
background: -ms-linear-gradient(left,  rgba(228,240,253,1) 1%,rgba(201,218,238,1) 20%,rgba(212,225,241,1) 50%,rgba(201,218,238,1) 80%,rgba(228,240,253,1) 100%); IE10+
background: linear-gradient(to right,  rgba(228,240,253,1) 1%,rgba(201,218,238,1) 20%,rgba(212,225,241,1) 50%,rgba(201,218,238,1) 80%,rgba(228,240,253,1) 100%); W3C
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f0fd', endColorstr='#e4f0fd',GradientType=1 ); IE6-8
 */ 

background: rgb(228,240,253); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(228,240,253,1) 1%, rgba(201,218,238,1) 6%, rgba(212,225,241,1) 50%, rgba(201,218,238,1) 94%, rgba(228,240,253,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(228,240,253,1)), color-stop(6%,rgba(201,218,238,1)), color-stop(50%,rgba(212,225,241,1)), color-stop(94%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(228,240,253,1) 1%,rgba(201,218,238,1) 6%,rgba(212,225,241,1) 50%,rgba(201,218,238,1) 94%,rgba(228,240,253,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(228,240,253,1) 1%,rgba(201,218,238,1) 6%,rgba(212,225,241,1) 50%,rgba(201,218,238,1) 94%,rgba(228,240,253,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(228,240,253,1) 1%,rgba(201,218,238,1) 6%,rgba(212,225,241,1) 50%,rgba(201,218,238,1) 94%,rgba(228,240,253,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(228,240,253,1) 1%,rgba(201,218,238,1) 6%,rgba(212,225,241,1) 50%,rgba(201,218,238,1) 94%,rgba(228,240,253,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f0fd', endColorstr='#e4f0fd',GradientType=1 ); /* IE6-9 */

/* height: $(window).height()+"px"; */
	
}
#body-side-left{
	width: auto;
	vertical-align: top;
	font-family: "tahoma",tahoma !important;
     font-size: 12px !important;
}

.body-header {
  border-bottom: 1px solid #cacaca;
  background-color: #ededed;
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1))); */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#dedede));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #dedede);
  background-image: -moz-linear-gradient(top, #fcfcfc, #dedede);
  background-image: -ms-linear-gradient(top, #fcfcfc, #dedede);
  background-image: -o-linear-gradient(top, #fcfcfc, #dedede);
  background-image: linear-gradient(to bottom, #fcfcfc, #dedede);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
  min-height: 30px;
  padding: 5px 10px;
  font-family: "tahoma",tahoma !important;
  font-size: 12px !important;
   background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1)));
}

#body-content{
	height: 100% !important;
}

#menu{
	/*background-color: #414141;
	background-color: #454343;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#646060), to(#262626));
	background-image: -webkit-linear-gradient(top, #646060, #262626);
	background-image: -moz-linear-gradient(top, #646060, #262626);
	background-image: -ms-linear-gradient(top, #646060, #262626);
	background-image: -o-linear-gradient(top, #646060, #262626);
	background-image: linear-gradient(to bottom, #646060, #262626);*/
	
	background: rgb(133,133,133); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(133,133,133,1) 0%, rgba(61,60,60,1) 47%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 67%, rgba(18,18,18,1) 68%, rgba(43,43,43,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(133,133,133,1)), color-stop(47%,rgba(61,60,60,1)), color-stop(49%,rgba(0,0,0,1)), color-stop(67%,rgba(0,0,0,1)), color-stop(68%,rgba(18,18,18,1)), color-stop(100%,rgba(43,43,43,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(133,133,133,1) 0%,rgba(61,60,60,1) 47%,rgba(0,0,0,1) 49%,rgba(0,0,0,1) 67%,rgba(18,18,18,1) 68%,rgba(43,43,43,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(133,133,133,1) 0%,rgba(61,60,60,1) 47%,rgba(0,0,0,1) 49%,rgba(0,0,0,1) 67%,rgba(18,18,18,1) 68%,rgba(43,43,43,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(133,133,133,1) 0%,rgba(61,60,60,1) 47%,rgba(0,0,0,1) 49%,rgba(0,0,0,1) 67%,rgba(18,18,18,1) 68%,rgba(43,43,43,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(133,133,133,1) 0%,rgba(61,60,60,1) 47%,rgba(0,0,0,1) 49%,rgba(0,0,0,1) 67%,rgba(18,18,18,1) 68%,rgba(43,43,43,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
	
	
	
	
	
	color: white;
	height: 33px;
	font-family: "tahoma",tahoma !important;
    font-size: 12px !important;

}

#menu > li.k-state-hover{
	color: red;
}

.my-uk-container{
	margin: 16px;
	padding: 16px;
	border: 1px solid #c8c8d3;
	-moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
	
	background: rgb(242,245,246); /*Old browsers*/
	background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /*Opera 11.10+*/
	background: -ms-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /*IE10+*/
	background: linear-gradient(to bottom, rgba(160, 188, 197, 1) 0%,rgba(190, 201, 206, 1) 37%,rgba(166, 186, 190, 1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

}
.uk-container{
    max-width: 100%;
}
.left-align{
	text-align: left;
}

.uk-modal-dialog{
	width: 800px;
}

.my-popup-title{
	border-radius: 4px 4px 0px 0px;
	padding-right: 20px;
	padding-top: 10px;
}
.my-popup-body{
	padding: 20px;
}

.uk-modal-dialog-slide{
	padding: 0px !important;
}

.k-link.k-state-border-left{
	color: #000;!important;
}
/* .body-header{
 background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1)));
 }  */
.k-grouping-header {
	/*background-image: -webkit-linear-gradient(top, #646060, #262626); */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(126,133,144,1)), color-stop(49%,rgba(40,49,67,1)), color-stop(50%,rgba(19,30,50,1)), color-stop(100%,rgba(3,14,35,1)));
	color: #ffffff;
}

.k-grid-header .k-filterable .k-link {
	padding-right: 1.4em;
	text-align: inherit;
}

.k-grid-header .k-header {
	 /* background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1))); */ 
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(126,133,144,1)), color-stop(49%,rgba(40,49,67,1)), color-stop(50%,rgba(19,30,50,1)), color-stop(100%,rgba(3,14,35,1)));*/
	background: rgb(212,225,241); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(212,225,241,1) 29%, rgba(201,218,238,1) 33%, rgba(228,240,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e1f1', endColorstr='#e4f0fd',GradientType=0 ); /* IE6-9 */
	
	text-align: center;
	
}
 .k-widget  {
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1))); */ 
	/* background-image: -webkit-linear-gradient(top, #646060, #262626); */
	background: rgb(212,225,241); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(212,225,241,1) 29%, rgba(201,218,238,1) 33%, rgba(228,240,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e1f1', endColorstr='#e4f0fd',GradientType=0 ); /* IE6-9 */
	
	height: 100% !important;
	
}
.k-grid-content {
	background: ivory;
	font-family: "tahoma",tahoma !important;
    font-size: 14px !important;
    height: 97% !important;
    /*padding-right: 17px;*/
}
/* .k-rtl{
	height: 65% !important;
} */
/*  .k-grid {
	height: 100% !important;
}  */
.p-kanban-visit .p-kanban-card  .uk-panel-box {
	min-height: 50px !important;
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1))); */
	background: rgb(212,225,241); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(212,225,241,1) 29%, rgba(201,218,238,1) 33%, rgba(228,240,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e1f1', endColorstr='#e4f0fd',GradientType=0 ); /* IE6-9 */
	
}
.p-kanban-visit {
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1))); */
}
.k-grid-pager{
	color: black;
}

.p-kanban-visit .p-kanban-card > .uk-panel-box {
	min-height: 40px !important;
}
.uk-form select, .uk-form textarea, .uk-form input[type="text"], .uk-form input[type="password"], .uk-form input[type="datetime"], .uk-form input[type="datetime-local"], .uk-form input[type="date"], .uk-form input[type="month"], .uk-form input[type="time"], .uk-form input[type="week"], .uk-form input[type="number"], .uk-form input[type="email"], .uk-form input[type="url"], .uk-form input[type="search"], .uk-form input[type="tel"], .uk-form input[type="color"] {
	
	border: 1px solid #645D5D;
	
}
.uk-form select:disabled, .uk-form textarea:disabled, .uk-form input[type="text"]:disabled, .uk-form input[type="password"]:disabled, .uk-form input[type="datetime"]:disabled, .uk-form input[type="datetime-local"]:disabled, .uk-form input[type="date"]:disabled, .uk-form input[type="month"]:disabled, .uk-form input[type="time"]:disabled, .uk-form input[type="week"]:disabled, .uk-form input[type="number"]:disabled, .uk-form input[type="email"]:disabled, .uk-form input[type="url"]:disabled, .uk-form input[type="search"]:disabled, .uk-form input[type="tel"]:disabled, .uk-form input[type="color"]:disabled {
	border-color: #645D5D;
}
input.mandatory-field{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,247,220,1)), color-stop(100%,rgba(255,255,204,1)));
}

.dropdown-menu{
	right: 0px;
}
 .k-grid-content > table{
    position: inherit;
}
 .k-selectable{
    position: inherit;
 }
 .k-pager-info{
 	width: 20%;
 }
 
 #body {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc));
}
.uk-grid + .uk-grid {
	margin-top: 10px;
}
.uk-form select, .uk-form textarea, .uk-form input[type="text"], .uk-form input[type="password"], .uk-form input[type="datetime"], .uk-form input[type="datetime-local"], .uk-form input[type="date"], .uk-form input[type="month"], .uk-form input[type="time"], .uk-form input[type="week"], .uk-form input[type="number"], .uk-form input[type="email"], .uk-form input[type="url"], .uk-form input[type="search"], .uk-form input[type="tel"], .uk-form input[type="color"] {
	height: 25px;
}
 .k-alt, .k-separator {
	/* background-color: #f5f5f5; */
	background-color: #dfdfdf;
}