.p-myform{
	direction: ltr;
	margin: 10px;
	font-size: 14px;
	
}


.p-q-label{
	float: left!important;
}
.p-q-checkbox{
	margin-left: 10px;
}
.p-q-group{
	margin-left: 5px;
	padding-left: 10px;
	clear: both;
	border-left: 2px solid silver;
	width:100%; 
	/* overflow: auto; */
}
.p-q-group:after{
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.p-q-group > div > label.p-q-label.uk-form-label{
	width: 38%;
}

.p-commandbar{
	margin-top: 10px;
}

.p-q-inner{
	clear: both;
}

.uk-form-horizontal .uk-form-label{
	width: 40%;
}
.p-q-input {
	width: 200px;
}
.p-q-radio-label{
	width: auto !important;
	display: inline-table !important;
}
.p-q-ifYesQuestion{
	display:none;
}

#q_page_Drug_History_after_Dx  input{
    margin-right: 0px !important;
}

#q_page_Virtal_Marker input{
    width: 200px !important;
}

#q_page_Pathology input{
    width: 200px !important;
}
.p-tab > li {
	float: left !important; 
}
.p-tab-content{
	direction: ltr;
	text-align: left;
}

.p-kanban {
	margin: 5px !important;
}

.p-kanban-card{
	float: left !important; 
	padding-right: 8px !important;
	padding-top: 5px !important;
	margin: 0px !important;
}

/* .p-kanban-card > .uk-panel-box{
	direction: ltr;	
	min-height: 25px;
} */

.p-kanban-card > .uk-panel-box:hover{
	border: 1px solid #7c7bad;
	-moz-box-shadow: 0 0 4px #7c7bad;
	-webkit-box-shadow: 0 0 4px #7c7bad;
	-box-shadow: 0 0 4px #7c7bad;
	
		
}

.p-kanban-card > div > div.uk-panel-badge{
	left: auto !important;
	right: 10px;	
}
#p-kanban-view-page  hr{
 	border: 2px dashed #ddd;
 }
 
 .p-kanban-unused .p-kanban-card{
 	opacity: 0.5;
 }
 
 .p-kanban-card-selected,  .p-kanban-card-prescripted{
 	opacity: 1 !important;
 	display: block !important;
 }
 .p-kanban-card-prescripted > div{
 	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(233,233,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
 }
 

 .p-kanban-card  h3.uk-panel-title{
 	font-size: 16px !important;
 	
 }
 
 .p-kanban-visit .p-kanban-card  h3.uk-panel-title{
 	font-size: 12px !important;
 	margin-bottom: 6px !important;
 	margin-top: 0 !important;
 	
 }
 
 .p-kanban-visit .p-kanban-unused .p-kanban-card  {
 	display: none;
 }
 
 
/*  .p-kanban-visit .p-kanban-card > .uk-panel-box{
 	min-height: 25px;
 } */
 
.uk-panel-title {
		margin-bottom: 4px;
		font-size: 18px;
		line-height: 12px;
		font-weight: normal;
		text-transform: none;
		color: #444444;
		text-transform: capitalize;
}
 
/*  .p-kanban-fixed > div.p-kanban-card > .uk-panel-box{
 	min-height: 40px !important;
 	padding: 10px;
 } */
 

 #p-kanban-view-page  h1 {
 	font-size: 18px;
 	text-align: center;
 	margin: 0px;
 	line-height: 20px;
 	background-color: gray;
	padding: 5px 0px;
	color: #fff;
 }
 
 #p-kanban-static-header > div{
 	float: right;
 	padding-right: 10px;
 	padding-left: 10px;
 }
 
 #p-kanban-static-header > div:hover{
 	color: darkgreen;
 }
 
  #p-kanban-Complaint-header > div{
 	float: right;
 	padding-right: 10px;
 	padding-left: 10px;
 }
 #p-kanban-physical-header > div{
 	float: right;
 	padding-right: 10px;
 	padding-left: 10px;
 }
 #p-kanban-PastMedical-header > div{
 	float: right;
 	padding-right: 10px;
 	padding-left: 10px;
 }
 #p-kanban-Complaint-header > div:hover{
 	color: darkgreen;
 }
  
 .p-kanban-static .uk-panel-box{
 	/* background: #b8e1fc; Old browsers
	background: -moz-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%); FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8e1fc), color-stop(10%,#a9d2f3), color-stop(25%,#90bae4), color-stop(37%,#90bcea), color-stop(50%,#90bff0), color-stop(51%,#6ba8e5), color-stop(83%,#a2daf5), color-stop(100%,#bdf3fd)); Chrome,Safari4+
	background: -webkit-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); Chrome10+,Safari5.1+
	background: -o-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); Opera 11.10+
	background: -ms-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); IE10+
	background: linear-gradient(to bottom, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ); IE6-9 */
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(233,233,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
	
    min-height: 25px !important;
    padding: 10px;
    direction: ltr;	
	
 }

 .p-kanban-fixed > .p-kanban-card > .uk-panel-box {
 	 background: rgb(212,225,241); 
 	 background: -moz-linear-gradient(top,  rgba(212,225,241,1) 29%, rgba(201,218,238,1) 33%, rgba(228,240,253,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1)));
	background: -webkit-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%);
	background: -o-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); 
	background: linear-gradient(to bottom,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e1f1', endColorstr='#e4f0fd',GradientType=0 ); 
	
/* 	background: rgb(172,213,235); Old browsers
	background: -moz-linear-gradient(top, rgba(172,213,235,1) 0%, rgba(140,193,245,1) 38%, rgba(104,168,229,1) 40%, rgba(206,247,248,1) 100%); FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(172,213,235,1)), color-stop(38%,rgba(140,193,245,1)), color-stop(40%,rgba(104,168,229,1)), color-stop(100%,rgba(206,247,248,1))); Chrome,Safari4+
	background: -webkit-linear-gradient(top, rgba(172,213,235,1) 0%,rgba(140,193,245,1) 38%,rgba(104,168,229,1) 40%,rgba(206,247,248,1) 100%); Chrome10+,Safari5.1+
	background: -o-linear-gradient(top, rgba(172,213,235,1) 0%,rgba(140,193,245,1) 38%,rgba(104,168,229,1) 40%,rgba(206,247,248,1) 100%); Opera 11.10+
	background: -ms-linear-gradient(top, rgba(172,213,235,1) 0%,rgba(140,193,245,1) 38%,rgba(104,168,229,1) 40%,rgba(206,247,248,1) 100%); IE10+
	background: linear-gradient(to bottom, rgba(172,213,235,1) 0%,rgba(140,193,245,1) 38%,rgba(104,168,229,1) 40%,rgba(206,247,248,1) 100%); W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acd5eb', endColorstr='#cef7f8',GradientType=0 ); IE6-9 */
	
	min-height: 25px !important;
    padding: 10px;
    direction: ltr;	
	
 }

 .p-kanban-pin{
 	background: none;
 	border: none;
 }
 .p-card-links{
 	bottom: 0px;
 	position: absolute;
 	font-size: 12px;
 }
 .p-card-links a{
 	padding-right: 15px;
 }
 
 .p-kanban-unused .p-card-links{
 	display: none;
 }
 
 .p-cards-0 .p-card-details{
 	display: none;
 }
  
 :not(.p-cards-0)  .p-card-prescription{
 	display: none;
 }
 
.p-cards-0  .p-card-prescription{
 	display: block;
 }
 
 .pull-left{
 	float: left;
 }
 
 #p-kanban-view-page h1{
 	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1))); */
 	
 	/* background-image: -webkit-linear-gradient(top, #646060, #262626); */
 	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(126,133,144,1)), color-stop(49%,rgba(40,49,67,1)), color-stop(50%,rgba(19,30,50,1)), color-stop(100%,rgba(3,14,35,1))); */
 	background: rgb(126,133,144); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(126,133,144,1) 0%, rgba(40,49,67,1) 49%, rgba(19,30,50,1) 50%, rgba(3,14,35,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(126,133,144,1)), color-stop(49%,rgba(40,49,67,1)), color-stop(50%,rgba(19,30,50,1)), color-stop(100%,rgba(3,14,35,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(126,133,144,1) 0%,rgba(40,49,67,1) 49%,rgba(19,30,50,1) 50%,rgba(3,14,35,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(126,133,144,1) 0%,rgba(40,49,67,1) 49%,rgba(19,30,50,1) 50%,rgba(3,14,35,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(126,133,144,1) 0%,rgba(40,49,67,1) 49%,rgba(19,30,50,1) 50%,rgba(3,14,35,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(126,133,144,1) 0%,rgba(40,49,67,1) 49%,rgba(19,30,50,1) 50%,rgba(3,14,35,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e8590', endColorstr='#030e23',GradientType=0 ); /* IE6-9 */
 	
 	font-size : 16px ;
 	line-height : 17px;
 }
 
 .body-header{
 /* background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1))); */
	background: rgb(212,225,241); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(212,225,241,1) 29%, rgba(201,218,238,1) 33%, rgba(228,240,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(212,225,241,1) 29%,rgba(201,218,238,1) 33%,rgba(228,240,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e1f1', endColorstr='#e4f0fd',GradientType=0 ); /* IE6-9 */
 
 }
 

   
 .ui-widget-header {
  /*  background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(212,225,241,1)), color-stop(33%,rgba(201,218,238,1)), color-stop(100%,rgba(228,240,253,1))); Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  rgba(66,162,181,1) 0%,rgba(0,25,40,1) 55%,rgba(20,47,61,1) 100%); /* Chrome10+,Safari5.1+ */
}

#p-kanban-result-header > div {
	float: right;
	padding-right: 10px;
	padding-left: 10px;
}
#p-kanban-order-header > div {
	float: right;
	padding-right: 10px;
	padding-left: 10px;
}
#p-kanban-history-header > div {
	float: right;
	padding-right: 10px;
	padding-left: 10px;
}

.p-kanban-card h3.uk-panel-title {
font-size: 14px !important;
}


